/* Contains your custom styles */

#stapp {
	height: 100%;
	padding-top: 5px;
}

.middle {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}